name: Backend & Frontend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    name: .NET APIs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app:
          - apps/gateway
          - apps/services/audit
          - apps/services/billing
          - apps/services/identity
          - apps/services/notifications
          - apps/services/tenant

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'   # غيّرها لو مشاريعك على 8.0.x مثلاً

      - name: Restore
        working-directory: ./${{ matrix.app }}
        run: dotnet restore

      - name: Build
        working-directory: ./${{ matrix.app }}
        run: dotnet build --configuration Release --no-restore

      - name: Test
        working-directory: ./${{ matrix.app }}
        run: dotnet test --configuration Release --no-build --verbosity normal

  frontend:
    name: Turborepo (React apps)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: |
            pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Lint admin
        run: pnpm turbo lint --filter=admin

      - name: Lint web
        run: pnpm turbo lint --filter=web

      - name: Build admin
        run: pnpm turbo build --filter=admin

      - name: Build web
        run: pnpm turbo build --filter=web
